@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.root {
    max-width: none;
    width: 100%;
}
.aboutWrapper {
    min-height: 878px;
    width: 100%;
    color: #414751;
}

.imageWrap {
   width: 100%;
  
    margin: 0 auto;
    @media (min-width: 600px) {
        width: 50%;
    }
  
}

.overlay {
   max-width: 890px;
    height: 100%;
    padding: 15px;
  
    margin: 0 auto;
   
    @media (min-width: 600px) {
        padding: 50px;
        
    }
    @media (min-width: 823px) {
        padding: 55px;
        border: 2px double #274076;
        /* background: white; */
  
    }
}

.aboutDiv {
    /* background: aliceblue; */
    /* background: white; */
    max-width: 100%;
    left: 0;
    right: 0;
    /* color: #274076; */
    background: #274076;
    color: white;
    font-family: 'Heebo';
    margin: 0 auto;
    /* margin-top: 130px;  */
    z-index: 50;
    position: absolute;
    /* margin-bottom: 120px; */
    border-radius: 2px;
    margin: 0 auto;
    @media (min-width: 823px) {
        top: 275px;
        left: 25%;
        max-width: 890px;
        background: white;
        color: #414751;
        right: 25%;
        padding: 25px 25px 25px 25px;
    }
}

.aboutText {
    text-align: center;
    max-width: 850px;
    margin: 0 auto;
    padding: 10px;
    @media (min-width: 823px) {
      text-align: left;
    }
 
}
.teamContainer{
width: 100%;
/* background-color: #274076; */
background: white;
/* background: #67c8d4; */

padding-top: 150px;
margin-top: -180px;
@media (min-width: 410px) {
padding-top: 100px;
}
/* @media (min-width: 600px) {
    padding-top: 100px;
} */
@media (min-width: 823px) {
    padding-bottom: 160px;
    padding-top: 200px;
   }
}

.teamWrap {

    margin: 0 auto;
    margin-top: 190px;
    max-width: 1200px;
    @media (min-width: 823px) {
        display: flex;
        flex-direction: row;
        margin-top: 290px;
       }
}

.teamText {
padding: 30px 15px 40px 15px;
color: #414751;
max-width: 450px;
margin: 0 auto;
text-align: center;
font-family: 'Heebo';

@media (min-width: 823px) {
    width: 40%;
    text-align: left;
    padding-top: 170px;
    height: 220px;
    padding-left: 30px;
    margin: 0px 0px 70px 0px;

   }
/* border-top: 3px solid white; 
border-left: 3px solid white; */
}

.image {
    border-radius: 50%;
    margin: 0 auto;
    
}

.title {
 font-size: 40px;
    margin-bottom: 0px;
   margin-top: -10px;
   text-align: center;
   color: #67c8d4;
    /* font-family: 'Questrial'; */
  font-family: 'Forum';
  /* font-family: 'Prata'; */
   @media (min-width: 823px) {
    font-size: 55px;
    text-align: left;
   }
}
.headerImg{
 height: 350px;
 width: 100%;
 @media (min-width: 823px) {
    height: 500px;
   }
}

.bgImage {
    height: 320px;
}