@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.contactInfoContainer {
  max-width: 1366px;
  margin: 0 auto;
  margin-bottom: 70px;
  @media (min-width: 900px){
    display: flex;
    flex-direction: row;  
    margin-bottom: 0px;
   
  }
}

.contactInfoWrap {
    padding-top: 50px;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    @media (min-width: 900px){
        width: 50%;
        text-align: left;
        margin-top: 120px;
        min-height: 400px;  
      }
}

.title {
    color: #274076;
    max-width: 350px;
    margin: 0 auto;
    font-size: 35px;
}

.subHeader {
    color: #274076;
    max-width: 350px;
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 5px;
}

.contactInfoTextWrap {

    color: #274076;
  
}
.contactLineItem {
    max-width: 350px;
    margin: 0 auto;
    padding: 5px;
    letter-spacing: 1.3px;
    &:hover {
      color: #67c8d4;
    }
}

.outboundLink {
text-decoration: none !important;
color: #274076;
}

/* a:-webkit-any-link {
  text-decoration: none;
 
} */
