@import '../styles/custom-media.css';

.root {
  /* box-sizing: border-box; */
  max-width: 1200px;
  /* padding: 1.5em; */
  margin: 0 auto;
  background-color: #FCFCFC;

  @media (--media-min-small) {
    /* padding: 2em; */
  }
}
