@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.formContainer {
width: 100%;
background: #274076;
}

.formWrap {
padding-top: 100px;
max-width: 1200px;
margin: 0 auto;
min-height: 800px;

}

.h2 {
    /* color: #274076; */
    color: #67c8d4;
    font-family: 'Forum';
    text-align: center;
    font-size: 55px;
}

.styledForm {
/* max-width: 600px; */
border: 3px solid #67c8d4;
background: pink;
@media (min-width: 700px) {
    max-width: 600px;
}
}

.styledArea {
    /* color: #274076; */
    color: white;
    /* font-family: 'Heebo'; */
    padding: 20px;
    width: 80%;
    display: block;
    height: 150px;
    /* border: 3px solid #274076; */
    border: 3px solid white;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #274076;
    /* border-top: none;
    border-left: none;
    border-right: none;
    */
    @media (min-width: 700px) {
        width: 600px;
    }
}

.styledInput {
display: block;
/* color: #274076; */
color: white;
background-color: #274076;
/* font-family: 'Heebo'; */
padding: 20px;
width: 80%;
display: block;
/* border-bottom: 3px solid #274076; */
border-bottom: 3px solid white;
border-top: none;
border-left: none;
border-right: none;
margin: 0 auto;
padding-top: 40px;
height: auto;
@media (min-width: 700px) {
    width: 600px;
}
}


::placeholder {
    color: #67c8d4;
    /* font-family: 'Heebo'; */
  font-size: 20px;
  overflow: visible;
  }

.styledButton {
    color: #274076;
    display: block;
    /* font-family: 'Heebo'; */
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 30px;
    padding: 15px;
    border: none;
    background-color: #67c8d4;
    border-radius: 3px;
    font-size: 20px;
}