@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.content {
  background: #FCFCFC;
  min-height: calc(100% - 73px - 120px);
  max-width: 100%;
  @media (--media-min-small) {
    min-height: calc(100% - 91px - 155px);
  }
}
.footer {
  border-top: 1px solid var(--color-very-light-gray);
  background: #EAEAEA;
  color: #274076;
  font-family: 'Heebo';
  text-decoration: none;
  @nest & a {
    color: #274076;
    text-decoration: none;

    @media (hover: hover) {
      @nest &:hover {
        color: #67c8d4;
      }
    }
  }
}

.navTitle {
  font-weight: 800;
}

.navList {
  list-style: none;
  margin: 0 auto;
  padding: 10px;
  font-size: 12px;
  @media (min-width: 600px) {
    font-size: 16px;
  }
}

.footerWrapper {
  box-sizing: border-box;
  max-width: 1366px;
  padding: 3em 1.5em 1.5em;
  margin: 0 auto;
}
.wrap {
  margin: 0 auto;
}

.upperWrapper {
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
  position: relative;
  @media (min-width: 900px) {

  }

}

.image {
 display: none;
  @media (min-width: 600px){
    display: inline-block;
    width: 250px;
  }
}
.companyAddress {
  text-align: center;
  margin: 0 0 1rem;
}

.siteInfo {
  text-align: center;
  font-size: var(--font-small-size);
  line-height: var(--font-small-line-height);
  /* background: #274076; */
  background: #414751;
  /* width: 100%; */
  padding: 15px;
  color: white;
  font-family: 'Heebo';
  @nest & a {

  color: white;
  }
 
}
