@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.serviceWrapper {
    height: auto;
    @media (min-width: 900px) {
        display: flex;
        flex-direction: row;
        height: 800px;
        background-color: #fcfcfc;
    }
}

.maintenanceWrap {
    padding: 15px;
    padding-top: 70px;
    margin: 0 auto;
    @media (min-width: 900px) {
        padding-top: 200px;
        width: 33.3%;
    }
}

.image {
    height: 100px;
    width: 100px;
    margin: 0 auto;
}

.card {
    max-width: 320px;
    margin: 0 auto;
}
.title {
    text-align: center;
    color: #67c8d4;
    font-family: 'Heebo';
}

.p {
    text-align: center;
    color: #274076;
    font-family: 'Heebo';
}
